*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/reflective.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    font-weight: thin;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{
    background: #004225;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 999;
    text-align: center;
}
.logo{
    height: 70px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    right: 80px;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span, 
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}
nav{
    position: absolute;
    text-align: left;
    top: 100%;
    right: 50px;
    background-color: #004225;
    padding-right: 15px;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out 150ms; 
}

nav a:hover{
    text-decoration-line: underline;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 100ms ease-in-out; 
}

@media screen and (min-width: 800px){
    .nav-toggle-label{
        display: none;
    }
    
    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr);
    }
    
    .logo{
        grid-column: 1 / 4;
    }
    
    nav{
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
    }
    
    nav ul{
        display: flex;
        justify-content: center;
    }
    
    nav li{
        margin-top: 0em;
        margin-left: 3em;
        padding: 0;
    }
    nav a{
        opacity: 1;
    }
}

#welcome{
    display: flex;
    background-image: url(img/);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#welcome-content{
    margin-top: 15%;
}

#welcome-content > h1{
    color: #ffffff;
    font-size: 10vh;
    font-weight: thin;
}

#welcome-content > h2{
    color: #ffffff;
    font-size: 5vh;
    font-weight: thin;
}

#about{
    background-color: #f9f9f9;
    height: 100vh;
}

#about > h1{
    margin: 10px;
    font-size: 10vh;
    font-weight: 100;
    text-align: center;
}
#about > p{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 3vh;
}
#projects{
    background-color: #346f55;
    height: 100vh;
    margin-top: 0;
}

#projects > h1{
    font-size: 10vh;
    font-weight: 100;
    text-align: center;
    color: #ffffff;
}

@media(max-width: 900px) {
        
    #about > p{
        font-size: 2vh;
    }
    
    #welcome > h1{
        margin-top: 50%;
    }
}